# Ignore personal/system files
.bash_history
.bash_logout
.bashrc
.lesshst
.motd_shown
.profile
.sudo_as_admin_successful
.gitconfig

# Ignore system folders
.cache/
.copilot/
.dotnet/
.ssh/
.vscode-server/

# Ignore any other temporary files
*.log
*.tmp